.stApp {
    background-color: #0D163A;
    color: white;
}

/* Header */
.dashboard-header {
    background: linear-gradient(90deg,#7A3EF0,#63D9E8);
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

/* Menu Button */
.stButton > button {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #56D8FF;
    background-color: transparent;
    color: white;
}

/* Statistik Box */
.stat-box {
    border: 2px solid #8E4BFF;
    border-radius: 18px;
    padding: 20px;
    background-color: #13214D;
}

/* Plot Card */
.plot-card {
    background: white;
    padding: 10px;
    border-radius: 18px;
}

/* Section Title */
.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}